h2{
    text-align: center;
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

p{
    text-align: center;
}

body {
    background-color: rgb(197, 185, 163);
}

.iframe-container{
    width: 500px;
    height: 281px;
}

.link{
    color: rgb(110, 107, 107);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

ul{
    color: rgb(255, 254, 254);
}

ol{
    color: rgb(255, 254, 254);
}